<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  <vendor>ChimeraOS Chimera</vendor>
  <vendor_url>http://chimeraos.org</vendor_url>

  <action id="org.chimeraos.policykit.steamos.pkexec.run-steamos-update">
    <description>Main update script from Steam client</description>
    <icon_name>package-x-generic</icon_name>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
		<annotate key="org.freedesktop.policykit.exec.path">/usr/bin/steamos-polkit-helpers/steamos-update</annotate>
  </action>

  <action id="org.chimeraos.policykit.steamos.pkexec.run-jupiter-biosupdate">
    <description>Dummy script for jupiter-biosupdate on Steam client</description>
    <icon_name>package-x-generic</icon_name>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
		<annotate key="org.freedesktop.policykit.exec.path">/usr/bin/steamos-polkit-helpers/jupiter-biosupdate</annotate>
  </action>
  
  <action id="org.chimeraos.policykit.steamos.pkexec.run-steamos-select-branch">
    <description>Select branch script for frzr in GamepadUI</description>
    <icon_name>package-x-generic</icon_name>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
		<annotate key="org.freedesktop.policykit.exec.path">/usr/bin/steamos-polkit-helpers/steamos-select-branch</annotate>
  </action>

</policyconfig>
