[Unit]
Description=Gamescope Session Plus
BindsTo=graphical-session.target
Before=graphical-session.target
Wants=graphical-session-pre.target
After=graphical-session-pre.target

[Service]
ExecStart=/usr/share/gamescope-session-plus/gamescope-session-plus %i
KillMode=mixed
# Make Steam's srt-logger write to the journal with it's own prefixes
Environment=SRT_LOG_TO_JOURNAL=1
